<div class="mt-40 flex flex-col justify-center items-center">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-1/2 py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr class="divide-x divide-gray-200">
                <th scope="col" class="py-3.5 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
                <th scope="col" class="py-3.5 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pl-6">Role</th>
                <th scope="col" class="px-4 py-3.5 text-center text-sm font-semibold text-gray-900">Today Sales</th>
                <th scope="col" class="px-4 py-3.5 text-center text-sm font-semibold text-gray-900">7 Day Sales </th>
                <th scope="col" class="px-4 py-3.5 text-center text-sm font-semibold text-gray-900">30 Day Sales </th>
                <th scope="col" class="px-4 py-3.5 text-center text-sm font-semibold text-gray-900">Chargebacks ($) </th>
                <th scope="col" class="px-4 py-3.5 text-center text-sm font-semibold text-gray-900">Pending Sales</th>
                <th scope="col" class="px-4 py-3.5 text-center text-sm font-semibold text-gray-900">Declind Sales</th>
                <th scope="col" class="px-4 py-3.5 text-center text-sm font-semibold text-gray-900">No of Chargebacks </th>
                <th scope="col" class="px-4 py-3.5 text-center text-sm font-semibold text-gray-900">Net Sales </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">         
            
            <% @users.each do |l| %>
              <% if l != nil %>
              <tr class="divide-x divide-gray-200"> 
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center text-sm font-medium text-gray-900 sm:pl-6"> <%= l.username %> </td>
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center text-sm font-medium text-gray-500 sm:pl-6"><%= "Agent" if l.agent?  %> </td>
                <td class="whitespace-nowrap p-4 text-sm text-center font-medium text-gray-500"><%= l.leads.where(created_at: 1.day.ago..Time.now, status: 'charged').sum(:sale_amount)%></td>
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center font-medium text-sm text-gray-500 sm:pr-6">$<%= l.leads.where(created_at: 7.days.ago..Time.now, status: 'charged').sum(:sale_amount) %></td>
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center font-medium text-sm text-gray-500 sm:pr-6">$<%= l.leads.where(created_at: 1.month.ago..Time.now, status: 'charged').sum(:sale_amount) %></td>
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center font-medium text-sm text-gray-500 sm:pr-6">$<%= l.leads.where(status: 'chargeback', created_at: 1.month.ago..Time.now).sum(:sale_amount) %></td>
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center text-sm font-medium text-gray-500 sm:pr-6">$<%= l.leads.where(status: 'pending', created_at: 1.month.ago..Time.now).sum(:sale_amount) %></td>
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center text-sm font-medium text-gray-500 sm:pr-6">$<%= l.leads.where(status: 'decline', created_at: 1.month.ago..Time.now).sum(:sale_amount) %></td>
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center text-sm font-medium text-gray-500 sm:pr-6"><%= l.leads.where(status: 'chargeback', created_at: 1.month.ago..Time.now).count %></td>
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center text-sm font-medium text-gray-500 sm:pr-6">$<%= (l.leads.where(created_at: 1.month.ago..Time.now, status: 'charged').sum(:sale_amount)) - (l.leads.where(status: 'refund', created_at: 1.month.ago..Time.now).sum(:sale_amount)) - (l.leads.where(status: 'chargeback', created_at: 1.month.ago..Time.now).sum(:sale_amount))%></td>
              </tr>
              <% end %>
            <% end %>
            
              <!-- More people... -->
            </tbody>
          </table>
  </div>

</div>
</div>


<div class="mt-20 flex flex-col justify-center items-center ">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-1/2 py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr class="divide-x divide-gray-200">
                <th scope="col" class="py-3.5 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
                <th scope="col" class="py-3.5 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pl-6">Role</th>
                <th scope="col" class="py-3.5 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pl-6">Last Login</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">         
            
            <% @billers.each do |l| %>
              <% if l != nil %>
              <tr class="divide-x divide-gray-200">
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center text-sm font-normal  text-gray-900 sm:pl-6"> <%= l.username %> </td>
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center text-sm font-normal text-gray-900 sm:pl-6"><%= "Biller" if l.biller? %></td>
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center text-sm font-normal text-gray-900 sm:pl-6"><%= time_ago_in_words(l.last_sign_in_at) %> ago </td>
              <% end %>
            <% end %>
              </tr>
              <!-- More people... -->
            </tbody>
          </table>
  </div>

</div>
</div>
</div>

<div class="mt-20 flex flex-col justify-center items-center ">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-1/2 py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr class="divide-x divide-gray-200">
                <th scope="col" class="py-3.5 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pl-6">Bill Checked today</th>
                <th scope="col" class="py-3.5 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pl-6">Bill Reversed today</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">         
              <tr class="divide-x divide-gray-200">
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pr-6"><%= Lead.where(bill_check_date: 1.days.ago..Time.now).count %></td>
                <td class="whitespace-nowrap py-4 pl-4 pr-4 text-center text-sm font-semibold text-gray-900 sm:pr-6"><%= Lead.where(bill_status: 'reversed', status: 'charged', created_at: 1.day.ago..Time.now).count %></td>
              </tr>
              <!-- More people... -->
            </tbody>
          </table>
  </div>

</div>
</div>
</div>