<div class= "mx-auto container mt-14 p-8">
<div class="border-b border-gray-200 pb-5">
  <div class="sm:flex sm:items-baseline sm:justify-between">
    <div class="sm:w-0 sm:flex-1">
      <h1 id="message-heading" class="text-lg font-medium text-gray-900"><%= current_user.username %></h1>
      <p class="mt-1 truncate text-sm text-gray-500">Dashboard for Sales</p>
    </div>
    <div class="mt-4 flex items-center justify-between sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:justify-start">
      <span class="inline-flex items-center rounded-full bg-green-100 px-3 py-0.5 text-sm font-medium text-green-800">Online</span>
    </div>
  </div>
</div>
<%= turbo_frame_tag "per-day" do %>
<div class="flex h-4/5 mt-8 bg-gray-200 p-4 rounded-xl">
  <div class="mx-auto container">
    <span class="isolate inline-flex rounded-md shadow-sm">
    <%= link_to "Today", per_day_sales_path, class: "relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500", target: "_top" %>
    <%= link_to "7 Days", per_seven_days_path, class: "relative -ml-px inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500", target: "_top" %>
    <%= link_to "30 Days", stats_path , class: "relative -ml-px inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500", target: "_top" %>
    </span>
  <div class = "my-4 px-4 py-8 border-2 rounded-2xl">
    <h3 class="text-2xl font-medium leading-6 text-gray-900 text-center">Weekly</h3>
    <dl class="mt-5 grid grid-cols-2 gap-5 sm:grid-cols-4">
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Sales</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">$<%= @charged_sales_seven_days.to_f %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Chargebacks</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">$<%= @chargebacks_seven_days %></dd>
      </div>

      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Refunds</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">$<%= @refunds_seven_days %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Net Sales</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">$<%= @net_sale_seven_days.round(3) if @net_sale_seven_days%></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Average Sale Amount</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">$<%= @average_sale_per_transcation_seven_days.to_f %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Declined Sales Volume($)</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">$<%= @declined_sales_seven_days.to_f %></dd>
      </div>

      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total number of Transactions</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @trasactions_seven_days %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Number of Chargebacks</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @chargebacks_seven_days_count.to_i %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Number of Refunds</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @refunds_seven_days_count.to_i %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Pending Sales</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @pending_sales_count_seven_days.to_i %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Declined Sales</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @declined_sales_seven_days_count.to_i %></dd>
      </div>
    </dl>
  </div>

  </div>
</div>

<% end %>
