<div class="flex h-screen items-center">
  <div class="mx-auto container">
  <div>
    <h3 class="text-lg font-medium leading-6 text-gray-900 text-center my-4">Last 30 days</h3>
    <dl class="mt-5 grid grid-cols-2 gap-5 sm:grid-cols-4">
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Sales</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">$<%= @charged_sales_this_month.to_f %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Chargebacks</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">$<%= @chargebacks_this_month_total %></dd>
      </div>

      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Refunds</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">$<%= @total_refunds_this_month %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Net Sales</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">$<%= @net_sales.round(3)%></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Average Sale Amount</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">$<%= @average_sale_per_transcation %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Declined Sales Volume($)</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @declined_sales_total %></dd>
      </div>

      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total number of Transactions</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= current_user.leads.count %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Number of Chargebacks</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @chargebacks_this_month.to_i %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Number of Refunds</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @total_refunds_this_month.to_i %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Pending Sales</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @pending_sales_count %></dd>
      </div>
      <div class="overflow-hidden rounded-xl bg-white px-4 py-5 shadow-xl sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Declined Sales</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= @declined_sales_count %></dd>
      </div>
    </dl>
  </div>

  </div>
</div>