


<%# Form form admins %>
  <% if current_user.admin %>
<div class="lg:w-1/2 mx-auto mt-20 bg-gray-200 p-8 rounded-xl sm:w-4/5 ">
 <%= form_with(model: @lead, local: true) do |f| %>
    <form class="space-y-8 divide-y divide-gray-200">
      <div class="space-y-8 divide-y divide-gray-200">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">Lead</h3>
          <p class="mt-1 text-sm text-gray-500">This information will only be saved once</p>
        </div>
        <div class="pt-4  ">
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium text-gray-700">Full name</label>
            <div class="mt-1">
              <%= f.text_field :full_name, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "Customer Name" %>
            </div>
        </div>

        <div class="sm:col-span-3">
          <label for="phone" class="block text-sm font-medium text-gray-700">Phone Number</label>
          <div class="mt-1">
            <%= f.text_field :phone, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "1 (555) 987-6543"  %>
          </div>
        </div>

        <div class="sm:col-span-4">
          <label for="address" class="block text-sm font-medium text-gray-700">Street address</label>
          <div class="mt-1">
            <%= f.text_field :street, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "Enter Full Service-Address"  %>
          </div>
        </div>


        <div class="sm:col-span-2">
          <label for="provider" class="block text-sm font-medium text-gray-700">Provider</label>
          <div class="mt-1">
          <%= f.select :provider, Lead.providers.keys, {}, class: "mt-1 block w-full rounded-md border-gray-300 py-3 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm appearance-none" %>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="account_number" class="block text-sm font-medium text-gray-700">Account Number</label>
          <div class="mt-1">
            <%= f.text_field :account_number, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "Associated Phone/ Account Number"  %>
          </div>
        </div>


        <div class="sm:col-span-2">
          <label for="bill" class="block text-sm font-medium text-gray-700">Bill Amount</label>
          <div class="relative mt-1 rounded-md shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <span class="text-gray-500 sm:text-sm">$</span>
            </div>
            <%= f.number_field :total_bill, class: "block w-full py-3 rounded-md border-gray-300 pl-7 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "Bill Amount"  %>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
              <span class="text-gray-500 sm:text-sm" id="price-currency">USD</span>
            </div>
          </div>
        </div>


        <div class="sm:col-span-2">
          <label for="date" class="block text-sm font-medium text-gray-700">Billing Month</label>
          <div class="mt-1">
            <%= f.select :bill_month, Lead.bill_months.keys, {include_blank: false}, class: "mt-1 block w-full rounded-md border-gray-300 py-3 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm appearance-none" %>
          </div>
        </div>
      
  
        <div class="sm:col-span-3">
          <label for="card" class="block text-sm font-medium text-gray-700">Name On the Card</label>
          <div class="mt-1">
              <%= f.text_field :name_on_card, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "Name on the card" %>
          </div>
          <div class="relative mt-1 rounded-md shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <span class="text-gray-500 sm:text-sm">$</span>
            </div>
            <%= f.number_field :sale_amount, class: "block w-full py-3 rounded-md border-gray-300 pl-7 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "Sale Amount" %>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
              <span class="text-gray-500 sm:text-sm" id="price-currency">USD</span>
            </div>
          </div>
        </div>
      
        
        <div class= "sm:col-span-3">
          <legend class="block text-sm font-medium text-gray-700">Card Details</legend>
          <div class="mt-1 -space-y-px rounded-md bg-white shadow-sm">
            
        
            <div>
              <label for="card-number" class="sr-only">Card number</label>
              <%= f.password_field :card_number, value: @lead.card_number, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4 border-b-2", placeholder: "Card Number" %>
            </div>

            <div class="flex -space-x-px">
              <div class="w-1/2 min-w-0 flex-1">
                <label for="card-expiration-date" class="sr-only">Expiration date</label>
              <%= f.number_field :exp, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4 border-r-2", placeholder: "MM/YY" %>
              </div>
              <div class="min-w-0 flex-1">
                <label for="card-cvc" class="sr-only">CVC</label>
              <%= f.number_field :cvv, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "CVV" %>
              </div>
            </div>
            </div>
        </div>
            

          <div class="sm:col-span-3">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <div class="mt-1">
               <%= f.text_field :email, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "Email" %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="descriptor" class="block text-sm font-medium text-gray-700">Descriptor</label>
            <div class="mt-1">
              <%= f.select :descriptor, Lead.descriptors.keys, {include_blank: true}, class: "mt-1 block w-full rounded-md border-gray-300 py-3 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm appearance-none"%>
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="comments" class="block text-sm font-medium text-gray-700">Comments</label>
            <div class="mt-1">
              <%= f.text_area :comments, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4"%>
            </div>
          </div>

                <div class="sm:col-span-3">
                  <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
                  <div class="mt-1">
                    <%= f.select :status, Lead.statuses.keys,{}, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4 appearance-none"%>
                  </div>
                </div>
                <div class="sm:col-span-3">
                  <label for="status" class="block text-sm font-medium text-gray-700">Bill Status</label>
                  <div class="mt-1">
                    <%= f.select :bill_status, Lead.bill_statuses.keys,{}, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4 appearance-none"%>
                  </div>
                </div>

      </div>
    </div>

    <div class="pt-5">
      <div class="flex justify-center">
      <%= f.submit "Submit", class: "ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"%>
      <%= link_to "Cancel", leads_path, class: "ml-4 rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
        <% end %>
            <% end %>
      </div>
    </div>
    </div>
    </div>
  </form>

<% if current_user.agent %>
<div class="lg:w-1/2 mx-auto mt-20 bg-gray-200 p-8 rounded-xl sm:w-4/5 ">
 <%= form_with model: @lead do |f| %>
  <%= render 'layouts/errors' %>
    <form class="space-y-8 divide-y divide-gray-200">
      <div class="space-y-8 divide-y divide-gray-200">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">Lead</h3>
          <p class="mt-1 text-sm text-gray-500">This information will only be saved once</p>
        </div>
        <div class="pt-4  ">
        <div class="mt-2 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium text-gray-700">Full name</label>
            <div class="mt-1">
              <%= f.text_field :full_name, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "Customer Name" %>
            </div>
        </div>

        <div class="sm:col-span-3">
          <label for="phone" class="block text-sm font-medium text-gray-700">Phone Number</label>
          <div class="mt-1">
            <%= f.text_field :phone, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "1 (555) 987-6543"  %>
          </div>
        </div>

        <div class="sm:col-span-4" data-controller= "address" data-action="map-loaded@window->address#initGoogle">
          <label for="address" class="block text-sm font-medium text-gray-700">Street address</label>
          <div class="mt-1">
             <%= f.text_field :input, data: {address_target: "input"}, id: "address", autocomplete: "off", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4" %> 
             </div>
        </div>


        <div class="sm:col-span-2">
          <label for="provider" class="block text-sm font-medium text-gray-700">Provider</label>
          <div class="mt-1">
          <%= f.select :provider, Lead.providers.keys, {}, class: "mt-1 block w-full rounded-md border-gray-300 py-3 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm appearance-none" %>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="account_number" class="block text-sm font-medium text-gray-700">Account Number</label>
          <div class="mt-1">
            <%= f.text_field :account_number, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "Associated Phone/ Account Number"  %>
          </div>
        </div>


        <div class="sm:col-span-2">
          <label for="bill" class="block text-sm font-medium text-gray-700">Bill Amount</label>
          <div class="relative mt-1 rounded-md shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <span class="text-gray-500 sm:text-sm">$</span>
            </div>
            <%= f.number_field :total_bill, step: "0.01", class: "block w-full py-3 rounded-md border-gray-300 pl-7 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "Bill Amount"  %>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
              <span class="text-gray-500 sm:text-sm" id="price-currency">USD</span>
            </div>
          </div>
        </div>

        


        <div class="sm:col-span-2">
          <label for="date" class="block text-sm font-medium text-gray-700">Billing Month</label>
          <div class="mt-1">
            <%= f.select :bill_month, Lead.bill_months.keys, {include_blank: false}, class: "mt-1 block w-full rounded-md border-gray-300 py-3 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm appearance-none" %>
          </div>
        </div>
      
  
        <div class="sm:col-span-3">
          <label for="card" class="block text-sm font-medium text-gray-700">Name On the Card</label>
          <div class="mt-1">
              <%= f.text_field :name_on_card, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "Name on the card" %>
          </div>
          <div class="relative mt-1 rounded-md shadow-sm">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <span class="text-gray-500 sm:text-sm">$</span>
            </div>
            <%= f.number_field :sale_amount, step: "0.01", class: "block w-full py-3 -mt-1 rounded-md border-gray-300 pl-7 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "Sale Amount" %>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
              <span class="text-gray-500 sm:text-sm" id="price-currency">USD</span>
            </div>
          </div>
        </div>
      
        
        <div class= "sm:col-span-3">
          <legend class="block text-sm font-medium text-gray-700">Card Details</legend>
          <div class="mt-1 -space-y-px rounded-md bg-white shadow-sm">
            
        
            <div>
              <label for="card-number" class="sr-only">Card number</label>
              <%= f.password_field :card_number, value: @lead.card_number, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4 border-b-2", placeholder: "Card Number", maxlength: 16 %>
            </div>

            <div class="flex -space-x-px">
              <div class="w-1/2 min-w-0 flex-1">
                <label for="card-expiration-date" class="sr-only">Expiration date</label>
              <%= f.number_field :exp, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4 border-r-2", placeholder: "MMYY", maxlength: 4 %>
              </div>
              <div class="min-w-0 flex-1">
                <label for="card-cvc" class="sr-only">CVC</label>
              <%= f.number_field :cvv, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "CVV", maxlength: 4 %>
              </div>
            </div>
            </div>
        </div>
            

          <div class="sm:col-span-2">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <div class="mt-1">
               <%= f.text_field :email, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "Email" %>
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="email" class="block text-sm font-medium text-gray-700">Pin Code</label>
            <div class="mt-1">
               <%= f.number_field :pin_code, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "4 Digit Pin Code", maxlength: 4 %>
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="descriptor" class="block text-sm font-medium text-gray-700">Descriptor</label>
            <div class="mt-1">
              <%= f.select :descriptor, Lead.descriptors.keys, {include_blank: true}, class: "mt-1 block w-full rounded-md border-gray-300 py-3 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm appearance-none"%>
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="comments" class="block text-sm font-medium text-gray-700">Comments</label>
            <div class="mt-1">
              <%= f.text_area :comments, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4", placeholder: "Important Information on the lead"%>
            </div>
          </div>



      </div>
    </div>

    <div class="pt-5">
      <div class="flex justify-center">
      <%= f.submit "Submit", class: "ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"%>
      <%= link_to "Cancel", leads_path, class: "ml-4 rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
        <% end %>
        <% end %>
      </div>
    </div>
    </div>
    </div>
  </form>

    <% if current_user.authorization %>
<div class="lg:w-1/2 mx-auto mt-20 bg-gray-200 p-8 rounded-xl sm:w-4/5 ">
 <%= form_with(model: @lead) do |f| %>
  <%= render 'layouts/errors' %>
    <form class="space-y-8 divide-y divide-gray-200">
      <div class="space-y-8 divide-y divide-gray-200">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">Lead</h3>
          <p class="mt-1 text-sm text-gray-500">Please update the status of the sale</p>
        </div>
        <div class="">
          <div class="mt-2 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-6">
            <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
            <div class="mt-1">
              <%= f.select :status, Lead.statuses.keys,{}, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4 appearance-none"%>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-5">
      <div class="flex justify-center">
      <%= f.submit "Submit", class: "ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"%>
      <%= link_to "Cancel", leads_path, class: "ml-4 rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
        <% end %>
            <% end %>
      </div>
    </div>
    </div>
    </div>
  </form>

      <% if current_user.biller %>
<div class="lg:w-1/2 mx-auto mt-20 bg-gray-200 p-8 rounded-xl sm:w-4/5 ">
 <%= form_with(model: @lead) do |f| %>
    <form class="space-y-8 divide-y divide-gray-200">
      <div class="space-y-8 divide-y divide-gray-200">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">Lead</h3>
          <p class="mt-1 text-sm text-gray-500">Please update the status of the sale</p>
        </div>
        <div class="">
          <div class="mt-2 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="status" class="block text-sm font-medium text-gray-700">Bill Checking Date</label>
            <div class="mt-1">
              <%= f.datetime_local_field :bill_check_date, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4 appearance-none"%>
            </div>
          </div>
          <div class="sm:col-span-3">
            <label for="status" class="block text-sm font-medium text-gray-700">Account Status</label>
            <div class="mt-1">
              <%= f.select :bill_status, Lead.bill_statuses.keys,{}, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4 appearance-none"%>
            </div>
          </div>
            <div class="sm:col-span-6">
            <label for="billing_status" class="block text-sm font-medium text-gray-700">Biller Comments</label>
            <div class="mt-1">
              <%= f.text_area :biller_comment, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-3 px-4 appearance-none"%>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-5">
      <div class="flex justify-center">
      <%= f.submit "Submit", class: "ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"%>
      <%= link_to "Cancel", leads_path, class: "ml-4 rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
        <% end %>
            <% end %>
      </div>
    </div>
    </div>
    </div>
  </form>