<!DOCTYPE html>
<html>
  <head>
    <title>Bill Square CRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src= "https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.google[:maps]%>&libraries=places&callback=initMap" async defer data-trubolinks-eval="false"></script>

  </head>

  <body class>
    <%= render 'layouts/nav' if current_user %>
    
    <% if notice %>
    <p class="notice text-base w-1/4 font-sans font-semibold bg-green-400 rounded-lg text-white pl-12 py-2 mx-auto mt-4"><%= notice %></p>
    <% end %>
    
    <% if alert %>
    <p class="alert text-base w-1/4 font-sans font-semibold bg-red-400 rounded-lg text-white pl-12 py-2 mx-auto mt-4"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
